app-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 6;
}

.author-switch {
    display: flex;
    flex-direction: column;
    padding: 2rem;

    .mat-divider {
        margin-bottom: 1rem;
    }

    .search-form {
        width: 100%
    }

    .button {
        margin-bottom: 1rem;
    }

    .mat-button.mat-accent {
        color: #fff;
    }
}

.mat-sidenav {
    width: 300px;
}
