@import '../../styles/constants';

.app-header {
    padding: 0 16px;
}

.search-form {
    margin: 0 16px;
}

.kexp-logo {
    height: 26px;
    margin: 0 10px 3px 0;
    vertical-align: middle;
}

@media screen and (min-width: 520px) {
    .search-bar {
        width: 15em;
    }
}

@media screen and (min-width: 875px) {
    .search-bar {
        width: 30em;
    }
}

@media screen and (min-width: 1080px) {
    .search-bar {
        width: 40em;
    }
}
