
<mat-toolbar role="header" color="primary" class="app-header">
  <mat-toolbar-row>
    <a mat-button routerLink="/" aria-label="KEXP Playlist">
      <img class="kexp-logo"
        src="/static/angular/assets/orangebars.png"
        alt="KEXP Logo">
      <span>KEXP Playlist</span>
    </a>
    <div class="flex-spacer"></div>
    <div *ngIf="currentAuthor" class="author-select">
      <button mat-button (click)="toggleSidenav()" class="mat-caption">
        <span>Commenting as
          <span class="kexp-orange">
            {{currentAuthor.first_name}} {{currentAuthor.last_name}}
          </span>
        </span>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
