<div class="playlist-item">
    <div class="airdate"
        *ngIf="play.playtype.playtypeid === 1">
        <mat-chip-list selectable="false" class="tag-chip">
            <mat-chip
            selectable="false"
            disableRipple="true"
            >
                {{play.airdate | date:'shortTime'}}
            </mat-chip>
        </mat-chip-list>
    </div>
    <mat-card class="card-container"
        *ngIf="play.playtype.playtypeid === 1">
        <div class="album-art mat-elevation-z2">
            <img
            class="fallback"
            src="/static/angular/assets/bars-white.svg">
            <!-- src="{{play.release && play.release.largeimageuri ? play.release.largeimageuri : '/static/angular/assets/orangebars.png'}}" -->
        </div>
        <mat-card-header>
            <mat-card-title>
                {{play.track ? play.track.name : 'Unknown Track'}}
            </mat-card-title>
            <mat-card-subtitle>
                <span class="kexp-orange">{{play.artist ? play.artist.name : 'Unknown Artist'}}</span>
            </mat-card-subtitle>
            <mat-card-subtitle *ngIf="play.artist.islocal">
                <mat-chip-list class="tag-chip">
                    <mat-chip
                    class="local-chip"
                    color="accent"
                    selected="true"
                    disableRipple="true"
                    >
                    Local Artist
                    </mat-chip>
                </mat-chip-list>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="comment-form-section">
            <form [formGroup]="commentForm">
                <div *ngIf="play.comment" class="existing-comment">
                    <h3>DJ Comment</h3>
                    {{play.comment.comment_text}}
                </div>
                <mat-form-field *ngIf="!play.comment"
                    class="full-width-comment"
                    hideRequiredMarker="true"
                    color="accent"
                    appearance="outline"
                    floatLabel="always">
                    <mat-label>DJ Comment</mat-label>
                    <textarea
                        type="text"
                        rows="5"
                        formControlName="commentText"
                        matInput
                        placeholder="Add a comment for this play"
                        required>
                    </textarea>
                </mat-form-field>
                <div class="form-buttons">
                    <button
                        *ngIf="commentForm.valid"
                        mat-raised-button
                        (click)="onCommentSave()"
                        [disabled]="!commentForm.valid"
                        color="accent">
                        Save comment
                    </button>
                    <!-- <button
                        mat-raised-button>
                        {{play.comment ? 'Update comment' : 'Add comment'}}
                    </button> -->
                </div>
            </form>
        </mat-card-content>
    </mat-card>
    <div class="air-break" *ngIf="play.playtype.playtypeid === 4">
        <span>Air Break</span>
    </div>
</div>
