<div class="playlist-item">
    <div class="airdate"
        *ngIf="play.playtype.playtypeid === 1">
        <mat-chip-list selectable="false" class="tag-chip">
            <mat-chip
            selectable="false"
            disableRipple="true"
            >
                {{play.airdate | date:'shortTime'}}
            </mat-chip>
        </mat-chip-list>
    </div>
    <mat-card class="card-container"
        *ngIf="play.playtype.playtypeid === 1">
        <div class="album-art">
            <img src="/static/angular/assets/orangebars.png">
        </div>
        <mat-card-header>
            <mat-card-title>
                {{play.track.name}}
            </mat-card-title>
            <mat-card-subtitle>
                <span class="kexp-orange">{{play.artist.name}}</span>
            </mat-card-subtitle>
            <mat-card-subtitle *ngIf="play.artist.islocal">
                <mat-chip-list class="tag-chip">
                    <mat-chip
                    class="local-chip"
                    color="accent"
                    selected="true"
                    disableRipple="true"
                    >
                    Local Artist
                    </mat-chip>
                </mat-chip-list>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="comment-form-section">
            <form [formGroup]="commentForm">
                <mat-form-field class="full-width-comment"
                    floatLabel="always">
                    <mat-label>DJ Comment</mat-label>
                    <textarea
                        type="text"
                        formControlName="commentText"
                        matInput
                        placeholder="Add a comment for this play"
                        required>
                    </textarea>
                </mat-form-field>
                <button
                    *ngIf="commentForm.valid"
                    mat-raised-button
                    (click)="onCommentSave()"
                    [disabled]="!commentForm.valid"
                    color="accent">
                    Save comment
                </button>
            </form>
        </mat-card-content>
    </mat-card>
    <div class="air-break" *ngIf="play.playtype.playtypeid === 4">
        <span>Air Break</span>
    </div>
</div>
