<div class="playlist-item">
    <div class="airdate"
        *ngIf="play.playtype.playtypeid === 1">
        <mat-chip-list selectable="false" class="tag-chip">
            <mat-chip
            selectable="false"
            disableRipple="true"
            >
                {{play.airdate | date:'shortTime'}}
            </mat-chip>
        </mat-chip-list>
    </div>
    <mat-card class="card-container"
        *ngIf="play.playtype.playtypeid === 1">
        <div class="album-art mat-elevation-z3">
            <img
            [ngClass]="{'fallback': !(play.release && play.release.largeimageuri), 'found-art': (play.release && play.release.largeimageuri)}"
            src="{{ (play.release && play.release.largeimageuri) ? play.release.largeimageuri : '/static/angular/assets/bars-white.svg'}}">
        </div>
        <mat-card-header class="play-info-section">
            <mat-card-title>
                {{play.track ? play.track.name : 'Unknown Track'}}
            </mat-card-title>
            <mat-card-subtitle>
                <span class="kexp-orange">{{play.artist ? play.artist.name : 'Unknown Artist'}}</span>
            </mat-card-subtitle>
            <mat-card-subtitle *ngIf="play.artist.islocal">
                <mat-chip-list class="tag-chip">
                    <mat-chip
                    class="local-chip"
                    color="accent"
                    selected="true"
                    disableRipple="true"
                    >
                    Local Artist
                    </mat-chip>
                </mat-chip-list>
            </mat-card-subtitle>
            <mat-card-subtitle class="release-name">
                {{play.release ? play.release.name : 'Unknown Album'}}
            </mat-card-subtitle>
            <mat-card-subtitle>
                {{(play.releaseevent && play.releaseevent.year) ? play.releaseevent.year + ' - ' : ''}}
                {{(play.label ? play.label.name : 'Unknown Label') | uppercase}}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="comment-form-section">
            <form class="form-container" [formGroup]="commentForm"
                (keydown.control.enter)="commentForm.valid ? onCommentSave() : ''"
                (keydown.meta.enter)="commentForm.valid ? onCommentSave() : ''"
                (keydown.escape)="(commentEditorVisible && cancelable) ? cancelCommentEdit() : ''">
                <div *ngIf="play.comment && !commentEditorVisible" class="existing-comment">
                    <h3>DJ Comment</h3>
                    <!-- <p class="comment-text">{{play.comment.comment_text}}</p> -->
                    <p class="comment-text" [innerHTML]="commentHtml"></p>
                </div>
                <mat-form-field *ngIf="commentEditorVisible" class="full-width-comment"
                    hideRequiredMarker="true"
                    color="accent"
                    appearance="outline"
                    floatLabel="always">
                    <mat-label>DJ Comment</mat-label>
                    <textarea
                        type="text"
                        rows="5"
                        placeholder="Add a comment or links to this play"
                        formControlName="commentText"
                        matInput
                        required>
                        Testing textarea fill
                        {{play.comment ? play.comment.comment_text : ''}}
                    </textarea>
                </mat-form-field>
                <div class="flex-spacer"></div>
                <div class="form-buttons">
                    <div *ngIf="play.comment" class="comment-author-credit">
                        <p class="mat-caption">
                            comment added
                            by {{play.comment.author.first_name}} {{play.comment.author.last_name}}
                            at <span class="kexp-orange">{{play.comment.last_updated | date:'shortTime'}}</span>
                        </p>
                    </div>
                    <div class="flex-spacer"></div>
                    <button *ngIf="commentEditorVisible && cancelable"
                        mat-raised-button
                        (click)="cancelCommentEdit()"
                        color="warn">
                        Cancel
                    </button>
                    <button *ngIf="commentEditorVisible && commentForm.valid"
                        mat-raised-button
                        (click)="onCommentSave()"
                        [disabled]="!commentForm.valid"
                        color="accent">
                        Save comment
                    </button>
                    <button
                        *ngIf="!commentEditorVisible"
                        mat-raised-button
                        (click)="updateComment()"
                        color="accent"
                        >
                        Update comment
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
    <div class="air-break" *ngIf="play.playtype.playtypeid === 4">
        <span>Air Break</span>
    </div>
</div>
