.card-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    .mat-card-header {
        flex: 0 0 25%;
    }
}

.airdate {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px; // ensure the chip has enough space to fill
    margin-right: 16px;
    flex-shrink: 0;
}

.playlist-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.play-info-section {

    .release-name {
        font-style: italic;
    }
}

.comment-form-section {
    flex-grow: 1;
    margin-left: 16px;

    .existing-comment{

        .comment-text {
            text-indent: 25px;
            line-height: 1.5;

            a {
                color: inherit;
                text-decoration: none;
            }
        }
    }

    .full-width-comment {
        width: 100%;
    }

    .full-width-comment, .existing-comment {
        margin-bottom: 24px;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .form-buttons {
        display: flex;
        justify-content: flex-end;

        button, .comment-author-credit {
            margin-right: 8px;
        }

    }
}

.air-break {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    flex-grow: 1;
    margin-left: 16px;

    span {
        position: relative;
        display: inline-block;

        &:before, &:after {
            content: "";
            position: absolute;
            top: 50%;
            width: 300px;
            height: 1px;
            background: #ffc107;
        }

        &:before {
            right: 100%;
            margin-right: 16px;
        }

        &:after {
            left: 100%;
            margin-left: 16px;
        }
    }
}

.album-art {
    background: radial-gradient(#616161,#212121);
    flex: 0 0 150px;
    height: 150px;

    // center positioning and coloring of the placeholder svg
    // might be kinda hacky
    img.fallback {
        opacity: .1;
        font-size: 1rem;
        line-height: 1.4;
        width: 40%!important;
        position: relative;
        top: 30%;
        display: block;
        margin: 0 auto;
        font-weight: 400;
    }

    img.found-art {
        width: 100%;
        height: 100%;
    }
}

// chips
.tag-chip {

    .local-chip {
        min-height: 22px;
        font-size: 10px;
    }

    // force chips to remove hover styling
    .mat-standard-chip:hover::after {
        opacity: 0;
    }

    .mat-standard-chip:focus::after {
        opacity: 0;
    }
}
