
@import '../../styles/constants';

.header-section {
    padding: 2.5rem 0px;

    .header-content {
        display: flex;
        flex-direction: row;
        align-items: center;

        .on-air {
            margin: 0 16px 16px 0;
        }

        .show-info-container {
            display: flex;
            flex-direction: column;
            margin: 0 50px 16px 0;

            .mat-h4 {
                margin-bottom: 0px;
            }
        }

        .host-avatar {
            margin: 0 16px 16px 0;
        }
    }
}

.playlist-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 25%;
}

@media screen and (max-width: $medium-breakpoint-width) {
  .playlist-container {
    padding: 0px 15%;
  }
}

@media screen and (max-width: $small-breakpoint-width) {
  .playlist-container {
    padding: 0px 1.5rem;
  }
}
