.header-section {
    padding: 40px 20%;

     .header-divider {
        border-top-color: #ffc107;
     }
}

.card-list-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 20%;
}
