@import '~@angular/material/theming';

$small-breakpoint-width: 720px;
$medium-breakpoint-width: 900px;
$large-breakpoint-width: 960px;
$xlarge-breakpoint-width: 1280px;
$xxl-breakpoint-width: 1870px;

// to align content with title
$content-padding-side: 70px;
